@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 75%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0 10rem;
}

section {
  padding: 4rem 0;
}

.products-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  padding: 0 1rem;
}

.products-item__wrapper {
  position: relative;
}

.products-item__wrapper img {
  height: 50%;
  width: 100%;
  border-bottom: 1px solid #222222;
}

.products-item__wrapper p {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  padding: 0 1rem;
  margin: 0 1rem;
  margin-bottom: 3%;
}

.banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.banner-1 {
  position: relative;
}

.banner-1 img {
  width: 100%;
  height: 100%;
}

.banner-1__info {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  width: 100%;
  padding: 0 3rem;
}

.banner-1__info h2,
.banner-1__info p,
.banner-1__info button {
  margin-top: 1.25rem;
}

.banner-2 {
  position: relative;
  height: 100%;
  width: 100%;
}

.banner-2 img {
  width: 100%;
  height: 100%;
}

.banner-2__info {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 0 3rem;
}

.banner-2__info h2,
.banner-2__info p,
.banner-2__info button {
  margin-top: 1.25rem;
}

.features-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  padding: 0 1rem;
}

.features-item__wrapper {
  position: relative;
}

.features-item__wrapper img {
  height: 50%;
  width: 100%;
}

.features-item__wrapper p {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  padding: 0 1rem;
  margin: 0 1rem;
  margin-bottom: 3%;
}

.features-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.news-letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  width: 100%;
  background: #EFEFEF;
  width: 100%;
  position: relative;
}

.news-letter img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.news-letter img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.news-letter__info {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-letter__info input {
  border: 1px solid white;
  width: 75%;
  padding: .7rem 1rem;
  font-size: 1rem;
}

.news-letter__info button {
  color: white;
  background: #222222;
  padding: .75rem 1rem;
  font-size: 1rem;
}

.our-story {
  width: 100%;
}

.stories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.stories-item img {
  height: 100%;
  width: 100%;
}

.stories-item h2,
.stories-item p,
.stories-item button {
  margin-top: 1.25rem;
}

.instagram {
  width: 100%;
}

.instagram-feed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  position: relative;
}

.instagram-feed img {
  width: 100%;
}

.instagram-feed p {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222222;
  opacity: .75;
  padding: 1rem 2rem;
  color: white;
}

.main-text {
  font-size: 3rem;
  color: #222222;
  font-weight: 900;
}

.sub-text {
  font-size: .8rem;
  text-transform: uppercase;
  color: #222222;
  font-weight: 700;
}

.p-text {
  color: #222222;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 400;
}

.p-text-dark {
  color: #222222;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 400;
}

.mt {
  margin-top: 1rem;
}

.mb {
  margin-bottom: 1rem;
}

.m-all {
  margin: 1rem;
}

.btn {
  border: none;
  padding: .5rem 1.1rem;
  font-size: .7rem;
}

.btn-primary {
  color: black;
}

.btn-secondary {
  color: white;
}

.btn-rounded {
  border-radius: 15px;
}

.btn-box {
  border-radius: 5px;
}

.btn-border {
  border: none;
  background: none;
  padding: 0 .2rem;
}

.card {
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
}

.header {
  height: 80vh;
  width: 100%;
  background: #EFEFEF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.header p {
  width: 60%;
}

.header button {
  margin-top: 2rem;
}

.navigation {
  height: 10vh;
  width: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}

.navigation img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=main.css.map */